/node_modules
/resources/node_modules
/vendor
/kirby
/pay
/.cache
/.idea
/docs/.vuepress/dist
composer.lock
package-lock.json
.env
.DS_Store
.phpunit.result.cache
.php_cs.cache
/tests/tmp/*
!/tests/tmp/.gitkeep