@use "sass:map";
@import "utils/variables";
@import "utils/spaces";
@import "utils/colors";
@import "utils/text";

.kp-form {
  display: flex;
  flex-direction: column;
}
.kirby-pay .kp-fieldset {
  border: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 1.75rem;
  border-radius: 0.25rem;
  position: relative;
}
.kirby-pay .kp-legend {
  position: absolute;
  top: -2rem;
  font-weight: 700;
}
.kirby-pay .kp-field {
  position: relative;
  display: flex;
  margin: 0 1rem;
  align-items: center;
}
.kirby-pay .kp-field + .kp-field:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  right: -1rem;
  height: 1px;
  background-color: currentColor;
  opacity: 0.15;
}
.kirby-pay .kp-label {
  width: 15%;
  min-width: 8.75rem;
  padding: 11px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.kirby-pay .kp-input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  border:0;
  outline: none;
  padding: 11px 15px 11px 0;
}
.kirby-pay .kp-input-month {
  width: 20%;
  min-width: 45px;
}
.kirby-pay .kp-input-year {
  width: 30%;
  min-width: 75px;
  padding-left: 15px;
}
.kirby-pay .kp-select {
  width: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  appearance: none;
  -webkit-appearance: none;
  color-adjust: exact;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
  padding: 11px 15px 11px 0;
  line-height: 1.5;
  background-position: right .5rem center;
  background-size:1.5em 1.5em;
  outline: none;
}
.kirby-pay .kp-button {
  -webkit-appearance: none;
  appearance: none;
  background-color: currentColor;
  border-radius: 0.25rem;
  border: 0;
  padding: 0.5rem 0.75rem;
  display: block;
  width: 100%;
}
.kirby-pay .kp-button-disabled {
  position: relative;
  cursor: not-allowed;
  background-color: transparent;
}
.kirby-pay .kp-button-disabled:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: currentColor;
  border-radius: 0.25rem;
  z-index: -1;
  opacity: 0.75;
}
.kirby-pay .kp-errors {
  color: map.get($colors, "red");
  font-size: 0.85rem;
}
.kirby-pay .kp-alert {
  position: relative;
  font-size: 0.85rem;
}
.kirby-pay .kp-alert .kp-alert-content {
  position: relative;
  color: currentColor;
  padding: 1rem 0.75rem;
  z-index: 1;
  display: flex;
}
.kirby-pay .kp-alert .kp-alert-title {
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.25;
}
.kirby-pay .kp-alert .kp-alert-background {
  content: '';
  position: absolute;
  background-color: currentColor;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 0.25rem;
  opacity: 0.15;
}
.kirby-pay .kp-alert ul{
  padding-left: 1rem;
  list-style-type: disc;
}
.kirby-pay .kp-payment-selector {
  margin-bottom: 1.75rem;
}
.kirby-pay .kp-payment-methods {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.kirby-pay .kp-method-column {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  flex: 1 1 0;
}
.kirby-pay input[type=radio].kp-radio  {
  display: none;
}
.kirby-pay label.kp-radio-label {
  margin: 1px;
  position: relative;
  width: 100%;
  display: block;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.kirby-pay input[type=radio].kp-radio + label.kp-radio-label:before {
  content: '';
  position: absolute;
  background-color: transparent;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: 0.25rem;
  opacity: 0.15;
}
.kirby-pay .kp-radio-label-header {
  position: relative;
  padding: 11px 15px;
  font-weight: 600;
}
.kirby-pay .kp-radio-label-header:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: currentColor;
  opacity: 0.15;
}
.kirby-pay .kp-radio-label-body {
  padding: 11px 15px;
  font-size: 0.8rem;
}
.kirby-pay input[type=radio].kp-radio:checked + label.kp-radio-label:before {
  background-color: currentColor;
  opacity: 1;
}
.kirby-pay .kp-title {
  font-weight: 700;
  width: 100%;
  margin-bottom: 0.5rem;
}
.kirby-pay .kp-flex {
  display: flex;
}
.kirby-pay .kp-flex-col {
  flex-direction: column;
}
.kirby-pay .kp-flex-row {
  flex-direction: row;
}
.kirby-pay .kp-shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.kirby-pay .kp-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.kirby-pay .kp-shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.kirby-pay .kp-rounded {
  border-radius: 0.25rem;
}
.kirby-pay .kp-rounded-none {
  border-radius: 0;
}
.kirby-pay .kp-rounded-sm {
  border-radius: 0.125rem;
}
.kirby-pay .kp-rounded-md {
  border-radius: 0.375rem;
}
.kirby-pay .kp-items-center {
  align-items: center;
}
.kirby-pay .kp-font-lg {
  font-size: 2rem;
}
.kirby-pay .kp-inline-block {
  display: inline-block;
}
.kirby-pay .kp-flex-shrink {
  flex-shrink: 0;
}
