.kirby-pay {
}
.kp-form {
    display: flex;
    flex-direction: column;
}
.kirby-pay .kp-fieldset {
    border: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 3.75rem;
    border-radius: 0.25rem;
    position: relative;
}
.kirby-pay .kp-legend {
    position: absolute;
    top: -2rem;
    font-weight: 700;
}
.kirby-pay .kp-field {
    position: relative;
    display: flex;
    margin: 0 1rem;
    align-items: center;
}
.kirby-pay .kp-field + .kp-field:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    right: -1rem;
    height: 1px;
    background-color: currentColor;
    opacity: 0.15;
}
.kirby-pay .kp-label {
    width: 15%;
    min-width: 8.75rem;
    padding: 11px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kirby-pay .kp-input {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    border:0;
    outline: none;
    padding: 11px 15px 11px 0;
}
.kirby-pay .kp-input-month {
    width: 20%;
    min-width: 45px;
}
.kirby-pay .kp-input-year {
    width: 30%;
    min-width: 75px;
    padding-left: 15px;
}
.kirby-pay .kp-select {
    width: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    appearance: none;
    -webkit-appearance: none;
    color-adjust: exact;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 0;
    padding: 11px 15px 11px 0;
    line-height: 1.5;
    background-position: right .5rem center;
    background-size:1.5em 1.5em;
    outline: none;
}
.kirby-pay .kp-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: currentColor;
    border-radius: 0.25rem;
    border: 0;
    padding: 0.5rem 0.75rem;
    display: block;
    width: 100%;
}
.kirby-pay .kp-button-disabled {
    position: relative;
    cursor: not-allowed;
    background-color: transparent;
}
.kirby-pay .kp-button-disabled:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    border-radius: 0.25rem;
    z-index: -1;
    opacity: 0.75;
}
.kirby-pay .kp-errors {
    color: #E53E3E;
    font-size: 0.85rem;
}
.kirby-pay .kp-alert {
    position: relative;
    font-size: 0.85rem;
}
.kirby-pay .kp-alert .kp-alert-content {
    position: relative;
    color: currentColor;
    padding: 1rem 0.75rem;
    z-index: 1;
    display: flex;
}
.kirby-pay .kp-alert .kp-alert-title {
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.25;
}
.kirby-pay .kp-alert .kp-alert-background {
    content: '';
    position: absolute;
    background-color: currentColor;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 0.25rem;
    opacity: 0.15;
}
.kirby-pay .kp-alert ul{
    padding-left: 1rem;
    list-style-type: disc;
}
.kirby-pay .kp-flex {
    display: flex;
}
.kirby-pay .kp-flex-col {
    flex-direction: column;
}
.kirby-pay .kp-flex-row {
    flex-direction: row;
}
.kirby-pay .kp-shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.kirby-pay .kp-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.kirby-pay .kp-shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.kirby-pay .kp-rounded {
    border-radius: 0.25rem;
}
.kirby-pay .kp-rounded-none {
    border-radius: 0;
}
.kirby-pay .kp-rounded-sm {
    border-radius: 0.125rem;
}
.kirby-pay .kp-rounded-md {
    border-radius: 0.375rem;
}
.kirby-pay .kp-m-0 {
    margin: 0;
}
.kirby-pay .kp-mt-0 {
    margin-top: 0;
}
.kirby-pay .kp-mb-0 {
    margin-bottom: 0;
}
.kirby-pay .kp-mx-0 {
    margin-left: 0;
    margin-right: 0;
}
.kirby-pay .kp-my-0 {
    margin-top: 0;
    margin-bottom: 0;
 }
.kirby-pay .kp-m-1 {
    margin: 0.25rem;
}
.kirby-pay .kp-mt-1 {
    margin-top: 0.25rem;
}
.kirby-pay .kp--mt-1 {
    margin-top: -0.25rem;
}
.kirby-pay .kp-mb-1 {
    margin-bottom: 0.25rem;
}
.kirby-pay .kp-mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.kirby-pay .kp-my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.kirby-pay .kp-m-2 {
    margin: 0.5rem;
}
.kirby-pay .kp-mt-2 {
    margin-top: 0.5rem;
}
.kirby-pay .kp--mt-2 {
    margin-top: -0.5rem;
}
.kirby-pay .kp-mb-2 {
    margin-bottom: 0.5rem;
}
.kirby-pay .kp-mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.kirby-pay .kp-my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.kirby-pay .kp-m-3 {
    margin: 0.75rem;
}
.kirby-pay .kp-mt-3 {
    margin-top: 0.75rem;
}
.kirby-pay .kp--mt-3 {
    margin-top: -0.75rem;
}
.kirby-pay .kp-mb-3 {
    margin-bottom: 0.75rem;
}
.kirby-pay .kp-ml-3 {
    margin-left: 0.75rem;
}
.kirby-pay .kp-mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.kirby-pay .kp-my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.kirby-pay .kp-m-4 {
    margin: 1rem;
}
.kirby-pay .kp-mt-4 {
    margin-top: 1rem;
}
.kirby-pay .kp--mt-4 {
    margin-top: -1rem;
}
.kirby-pay .kp-mb-4 {
    margin-bottom: 1rem;
}
.kirby-pay .kp-ml-4 {
    margin-left: 1rem;
}
.kirby-pay .kp-mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.kirby-pay .kp-my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.kirby-pay .kp-m-5 {
    margin: 1.25rem;
}
.kirby-pay .kp-mt-5 {
    margin-top: 1.25rem;
}
.kirby-pay .kp--mt-5 {
    margin-top: -1.25rem;
}
.kirby-pay .kp-mb-5 {
    margin-bottom: 1.25rem;
}
.kirby-pay .kp-mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.kirby-pay .kp-my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.kirby-pay .kp-m-6 {
    margin: 1.5rem;
}
.kirby-pay .kp-mt-6 {
    margin-top: 1.5rem;
}
.kirby-pay .kp--mt-6 {
    margin-top: -1.5rem;
}
.kirby-pay .kp-mb-6 {
    margin-bottom: 1.5rem;
}
.kirby-pay .kp-mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.kirby-pay .kp-my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.kirby-pay .kp-m-8 {
    margin: 2rem;
}
.kirby-pay .kp-mt-8 {
    margin-top: 2rem;
}
.kirby-pay .kp--mt-8 {
    margin-top: -2rem;
}
.kirby-pay .kp-mb-8 {
    margin-bottom: 2rem;
}
.kirby-pay .kp-mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.kirby-pay .kp-my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.kirby-pay .kp-m-10 {
    margin: 2.5rem;
}
.kirby-pay .kp-mt-10 {
    margin-top: 2.5rem;
}
.kirby-pay .kp--mt-10 {
    margin-top: -2.5rem;
}
.kirby-pay .kp-mb-10 {
    margin-bottom: 2.5rem;
}
.kirby-pay .kp-mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.kirby-pay .kp-my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.kirby-pay .kp-m-12 {
    margin: 3rem;
}
.kirby-pay .kp-mt-12 {
    margin-top: 3rem;
}
.kirby-pay .kp--mt-12 {
    margin-top: -3rem;
}
.kirby-pay .kp-mb-12 {
    margin-bottom: 3rem;
}
.kirby-pay .kp-mx-12 {
    margin-left: 3rem;
    margin-right: 3rem;
}
.kirby-pay .kp-my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.kirby-pay .kp-m-16 {
    margin: 4rem;
}
.kirby-pay .kp-mt-16 {
    margin-top: 4rem;
}
.kirby-pay .kp--mt-16 {
    margin-top: -4rem;
}
.kirby-pay .kp-mb-16 {
    margin-bottom: 4rem;
}
.kirby-pay .kp-mx-16 {
    margin-left: 4rem;
    margin-right: 4rem;
}
.kirby-pay .kp-my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.kirby-pay .kp-p-0 {
    padding: 0;
}
.kirby-pay .kp-pt-0 {
    padding-top: 0;
}
.kirby-pay .kp-pb-0 {
    padding-bottom: 0;
}
.kirby-pay .kp-px-0 {
    padding-left: 0;
    padding-right: 0;
}
.kirby-pay .kp-py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.kirby-pay .kp-p-1 {
    padding: 0.25rem;
}
.kirby-pay .kp-pt-1 {
    padding-top: 0.25rem;
}
.kirby-pay .kp-pb-1 {
    padding-bottom: 0.25rem;
}
.kirby-pay .kp-px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.kirby-pay .kp-py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.kirby-pay .kp-p-2 {
    padding: 0.5rem;
}
.kirby-pay .kp-pt-2 {
    padding-top: 0.5rem;
}
.kirby-pay .kp-pb-2 {
    padding-bottom: 0.5rem;
}
.kirby-pay .kp-px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.kirby-pay .kp-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.kirby-pay .kp-p-3 {
    padding: 0.75rem;
}
.kirby-pay .kp-pt-3 {
    padding-top: 0.75rem;
}
.kirby-pay .kp-pb-3 {
    padding-bottom: 0.75rem;
}
.kirby-pay .kp-px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.kirby-pay .kp-py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.kirby-pay .kp-p-4 {
    padding: 1rem;
}
.kirby-pay .kp-pt-4 {
    padding-top: 1rem;
}
.kirby-pay .kp-pb-4 {
    padding-bottom: 1rem;
}
.kirby-pay .kp-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.kirby-pay .kp-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.kirby-pay .kp-p-5 {
    padding: 1.25rem;
}
.kirby-pay .kp-pt-5 {
    padding-top: 1.25rem;
}
.kirby-pay .kp-pb-5 {
    padding-bottom: 1.25rem;
}
.kirby-pay .kp-px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.kirby-pay .kp-py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.kirby-pay .kp-p-6 {
    padding: 1.5rem;
}
.kirby-pay .kp-pt-6 {
    padding-top: 1.5rem;
}
.kirby-pay .kp-pb-6 {
    padding-bottom: 1.5rem;
}
.kirby-pay .kp-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.kirby-pay .kp-py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.kirby-pay .kp-p-8 {
    padding: 2rem;
}
.kirby-pay .kp-pt-8 {
    padding-top: 2rem;
}
.kirby-pay .kp-pb-8 {
    padding-bottom: 2rem;
}
.kirby-pay .kp-px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.kirby-pay .kp-py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.kirby-pay .kp-p-10 {
    padding: 2.5rem;
}
.kirby-pay .kp-pt-10 {
    padding-top: 2.5rem;
}
.kirby-pay .kp-pb-10 {
    padding-bottom: 2.5rem;
}
.kirby-pay .kp-px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.kirby-pay .kp-py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.kirby-pay .kp-p-12 {
    padding: 3rem;
}
.kirby-pay .kp-pt-12 {
    padding-top: 3rem;
}
.kirby-pay .kp-pb-12 {
    padding-bottom: 3rem;
}
.kirby-pay .kp-px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}
.kirby-pay .kp-py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.kirby-pay .kp-p-16 {
    padding: 4rem;
}
.kirby-pay .kp-pt-16 {
    padding-top: 4rem;
}
.kirby-pay .kp-pb-16 {
    padding-bottom: 4rem;
}
.kirby-pay .kp-px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
}
.kirby-pay .kp-py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.kirby-pay .kp-bg-transparent {
    background-color: transparent;
}
.kirby-pay .kp-bg-white {
    background-color: #ffffff;
}
.kirby-pay .kp-bg-gray-light {
    background-color: #E2E8F0;
}
.kirby-pay .kp-bg-gray-dark {
    background-color: #2D3748;
}
.kirby-pay .kp-text-current {
    color: currentColor;
}
.kirby-pay .kp-text-white {
    color: #ffffff;
}
.kirby-pay .kp-text-black {
    color: #000000;
}
.kirby-pay .kp-text-gray-light {
    color: #E2E8F0;
}
.kirby-pay .kp-text-gray-dark {
    color: #2D3748;
}
.kirby-pay .kp-text-red {
    color: #E53E3E;
}
.kirby-pay .kp-w-1\/2 {
    width: 50%;
}
.kirby-pay .kp-w-full {
    width: 1000%;
}
.kirby-pay .kp-w-4 {
    width: 1rem;
}
.kirby-pay .kp-h-4 {
    height: 1rem;
}
.kirby-pay .kp-w-5 {
    width: 1.25rem;
}
.kirby-pay .kp-h-5 {
    height: 1.25rem;
}
.kirby-pay .kp-items-center {
    align-items: center;
}
.kirby-pay .kp-font-lg {
    font-size: 2rem;
}
.kirby-pay .kp-text-center {
    text-align: center;
}
.kirby-pay .kp-inline-block {
    display: inline-block;
}
.kirby-pay .kp-flex-shrink {
    flex-shrink: 0;
}
