$space-sizes: (
    'auto': 'auto',
    'px': '1px',
    '0': '0',
    '1': '0.25rem',
    '2': '0.5rem',
    '3': '0.75rem',
    '4': '1rem',
    '5': '1.25rem',
    '6': '1.5rem',
    '8': '2rem',
    '10': '2.5rem',
    '12': '3rem',
    '16': '4rem',
    '20': '5em',
    '24': '6em',
    '32': '8em',
) !default;

$colors: (
  'transparent': transparent,
  'current': currentColor,
  'white': #ffffff,
  'gray-light': #E2E8F0,
  'gray-dark': #2D3748,
  'red': #E53E3E,
);